:root {
  --navy-blue: #2e2f42;
  --slate: #434455;
  --btn: #e7e9fc;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

/* HEADER */

.page-header {
  
  border-bottom: 1px solid #e7e9fc;
  
}

.page-header-container {

  display: flex;
  align-items: center;
  
  height: 72px;
  
}

.page-nav {
  display: flex;
  align-items: center;
}

.main-logo {
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.main-logo-descr {
  color: #2e2f42;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  padding: 24px 0 24px;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

/* CONTACTS LIST */

.contact {
  font-style: normal;
  margin-left: auto;
}
.contacts-list {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  gap: 40px;
}

.add-list {
  margin-right: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.add-list:hover,
.add-list:focus {
  color: #404bbf;
}

/* HERO*/

.hero {
  height: 600px;
  background-color: #2e2f42;
  background-image: url('../images/people-office.jpg');
  background-size: cover;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  padding-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.order-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  display: block;
  align-items: center;
  min-width: 169px;
  height: 56px;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

.order-btn:hover,
.order-btn:focus {
  background-color: #404bbf;
}

/* FEATURES */

.features-item {
  display: flex;
  align-items: center;
  gap: 24px;
}

.features-item-list {
  width: calc((100% - 72px) / 4);
  flex-basis: calc((100% - 72px) / 4);
}

.features-text-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.features-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* WHAT ARE WE DOING */

.our-work {
  padding-bottom: 120px;
}

.work-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.team-photo {
  width: calc((100% - 48px) / 3);
  flex-basis: calc((100% - 3 * 16px) / 3);
}

.our-work-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

/* OUR TEAM */

.team {
  background-color: #f4f4fd;
  padding: 120px 0 120px;
}

.team-photo {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.photo-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.team-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.team-name-list {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.profession {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.team-list {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

.team-name-list {
  text-align: center;
  margin-bottom: 8px;
}

.team-profession {
  text-align: center;
}

/* CUSTOMERS */


.customers {
  width: 1128px;
  height: 200px;
  margin-bottom: 120px;
}

.item-customers {
  display: flex;
  justify-content: center;
  gap: 24px;
  
  
}

.customers-title {
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
    margin-top: 120px;
}

.icon-customers {
  padding: 16px 32px 16px 32px;
}


/* FOOTER */

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: inline-block;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}
.logo-footer-descr {
  color: #f4f4fd;
}
.footer {
  width: auto;
  height: 312px;
  background-color: #2e2f42;
  padding: 100px 0 100px;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
  height: 72px;
}
/* PORTFOLIO */

/* FILTERS */

.filters-btn {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.filter-btn-list {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  background: #f4f4fd;
  border-radius: 4px;
  color: #4d5ae5;
  min-width: 116px;
  height: 48px;
  padding: 12px 24px 12px;
  border: 1px solid var(--btn);
}

.filter-btn-list:hover,
.filter-btn-list:focus {
  background: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #ffffff;
  border: 1px solid transparent;
}

/* ROWS */

.rows {
  padding: 96px 0 120px;
}

.rows-content {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.rows-photos {
  width: calc((100% - 48px) / 3);
}

.rows-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.role {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.apps {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
